# Data Task - OneDot AG
The notebook exlpores integrating a supplier product data(supplier_car.json) 
into a pre-defined data structure(Targer Data.xlsx)

The stakeholder is part of the Italian Mafia and wants to sell his/her luxury properties in the city, as the FBI is after them. After selling their houses they want to purchase new houses described as "average houses in average neighbourhoods" (i.e. to blend in) to accomodate their people without the FBI being suspicious.

## Table to contents
1. Setting up and Understanding Data
2. Assigned tasks  
a. Pre-processing  
b. Normalisation  
c. Integration
3. Python script for excel file creation

## 1. Setting up and understanding Data

In [1]:
# Importing required libraries
import json
import xlsxwriter
import pandas as pd

# Display Options for pandas
pd.set_option('display.max_columns', None)   # Displays all columns in the table

In [2]:
# Reading the data from json file line by line
data = [json.loads(line) for line in open('Data Task\supplier_car.json', 'r')]

In [3]:
# Creating a dataframe
df = pd.DataFrame(data)

In [4]:
# Overview of the columns in the dataframe
df.columns

Index(['ID', 'MakeText', 'TypeName', 'TypeNameFull', 'ModelText',
       'ModelTypeText', 'Attribute Names', 'Attribute Values', 'entity_id'],
      dtype='object')

In [5]:
# shape of the dataframe
df.shape

(21906, 9)

In [6]:
# Overview of the created dataframe
df.head()

,ID,MakeText,TypeName,TypeNameFull,ModelText,ModelTypeText,Attribute Names,Attribute Values,entity_id
0,976.0,MERCEDES-BENZ,McLaren,MERCEDES-BENZ SLR McLaren,SLR,SLR McLaren,Seats,2,0001fda6-192b-46a8-bc08-0e833f904eed
1,1059.0,MERCEDES-BENZ,ML 350 Inspiration,MERCEDES-BENZ ML 350 Inspiration,ML 350,ML 350 Inspiration,Hp,235,00107c2d-0071-4475-88f0-810133638b7e
2,524.0,AUDI,S6 Avant quattro 4.2,AUDI S6 Avant quattro 4.2,S6,S6 Avant quattro 4.2,FuelTypeText,Benzin,00126794-a8ef-48fe-93d6-43cfc69fbfb6
3,608.0,SAAB,9-3 2.0i-16 TS Aero,SAAB 9-3 2.0i-16 TS Aero,9-3,9-3 2.0i-16 TS Aero,Ccm,1985,00182529-1bf7-4f93-89fa-2e8e634b2c9d
4,726.0,PORSCHE,911 Turbo Cabrio,PORSCHE 911 Turbo Cabrio,911,911 Turbo Cabrio,BodyColorText,schwarz mÃ©t.,002d30c2-43f6-4905-868f-160dbc445c56

## 2. Assigned tasks

### a. Pre - processing

In [7]:
# Function for pre-processing
def Pre_processing(df):
    
    '''
    Inputs: 
        df: supplier data

    Output: 
        Pre-processed dataframe 
    '''

    # Drop the unwanted column
    df.drop(['entity_id'], axis = 1, inplace=True)
    
    # Unpacking the attributes into columns 
    df_preprocessed = df.set_index(['ID', 'MakeText', 'TypeName', 'TypeNameFull', 'ModelText',
                                    'ModelTypeText', 'Attribute Names']).unstack()['Attribute Values'].reset_index()
    # Returning the result   
    return df_preprocessed

In [8]:
# Saving pre-processed dataframe
df_pre_processed = Pre_processing(df)

In [9]:
# Writing and saving the integrated dataframe into excel
df_pre_processed.to_excel(r'C:\Users\Saturn\Onedot_task\Final_results\pre-processing.xlsx', index=False)

### b. Nromalisation 
##### BodyColorText  
Normalised from German to English  
##### Maketext  
Normalised the strings to Title case  
##### BodyTypeText  
Normalised CoupÃ© to Coupé

In [10]:
# Function for normalisation
def Normalisation(df):
    
    '''
    Inputs: 
        df: Pre-processed dataframe

    Output: 
        Normalised dataframe 
    '''
    
    # Copy the preprocessed Dataframe as Input for normalisation
    df_normalised = df.copy()
    
    # Normalising some attribute columns 
    # Normalising column 'BodyColorText' 
    df_normalised["BodyColorText"].replace({"anthrazit": "Other", "anthrazit mÃ©t.": "Other",
                                         "beige mÃ©t.": "Other", "beige": "Biege",
                                         "blau mÃ©t.": "Other", "blau": "Blue", 
                                         "bordeaux mÃ©t.": "Other","bordeaux": "Other", 
                                         "braun mÃ©t.": "Other", "braun": "Brown",
                                         "gelb mÃ©t.": "Other", "gelb": "Yellow",
                                         "gold mÃ©t.": "Other", "gold": "Gold",
                                         "grÃ¼n mÃ©t.": "Other", "grÃ¼n": "Green",
                                         "grau mÃ©t.": "Other", "grau": "Grey",
                                         "orange mÃ©t.": "Other", "orange": "Orange",
                                         "rot mÃ©t.": "Other", "rot": "Red",
                                         "schwarz mÃ©t.": "Other", "schwarz": "Black",
                                         "silber mÃ©t.": "Other", "silber": "Silver",
                                         "violett mÃ©t.": "Other",
                                         "weiss mÃ©t.": "Other", "weiss": "White"}, inplace=True)


    # Normalising column 'BodyTypeText'
    df_normalised["BodyTypeText"].replace({"CoupÃ©": "Coupé", "SUV / GelÃ¤ndewagen": "SUV / Gelandewagen"}, 
                                          inplace=True)


    # Normalising column 'MakeText'
    df_normalised["MakeText"] = df_normalised["MakeText"].str.title() 
    df_normalised["MakeText"].replace({"Bmw": "BMW", "Mg": "MG","Ruf": "RUF",
                                  "Bmw-Alpina": "BMW-Alpina"}, inplace=True)
    
    # Returning the result
    return df_normalised

In [11]:
# Saving the normalised dataframe
df_normalised = Normalisation(df_pre_processed)

In [12]:
# Writing and saving the integrated dataframe into excel
df_normalised.to_excel(r'C:\Users\Saturn\Onedot_task\Final_results\normalisation.xlsx', index=False)

#### Some attributes that still require normalisation 

##### ConditionTypeText  
Change German to English  
Example : VorfÃ¼hrmodell to Used,  Neu to New

##### DriveTypeText
Change German to English  
Example : Hinterradantrieb to Rear-wheel drive

##### InteriorColorText
Change German to english  
Example : schwarz to Black

##### km
Change the km column from data type object to float  
Example :48000 to 48000.0

##### ModelTypeText
Correct the spelling
Example : E 320 ElÃ©gance 4-Matic to E 320 Elegance 4-Matic

### c. Integration

In [13]:
# Function for integrating the supplier data with target dataset
def Integration(df):
    
    '''
    Inputs: 
        df: Normalised dataframe 

    Output: 
        Integrated dataframe 
    '''
    
    # Reading the Target data file to copy the schema
    df_target = pd.read_excel('Data Task\Target Data.xlsx')
    
    # Copying the schema from Target data set without any records
    df_integrated = pd.DataFrame().reindex_like(df_target)
    
    # Populating the new dataframe with values from normalised dataframe
    df_integrated.carType = df_integrated.carType.fillna(value=df.BodyTypeText)
    df_integrated.color= df_integrated.color.fillna(value=df.BodyColorText)
    df_integrated.condition= df_integrated.condition.fillna(value=df.ConditionTypeText)
    df_integrated.city= df_integrated.city.fillna(value=df.City)
    df_integrated.make= df_integrated.make.fillna(value=df.MakeText)
    df_integrated.manufacture_year= df_integrated.manufacture_year.fillna(value=df.FirstRegYear)
    df_integrated.manufacture_month= df_integrated.manufacture_month.fillna(value=df.FirstRegMonth)
    df_integrated.mileage= df_integrated.mileage.fillna(value=df.Km)
    df_integrated.model= df_integrated.model.fillna(value=df.ModelText)
    df_integrated.model_variant= df_integrated.model_variant.fillna(value=df.ModelTypeText)
  
    # Dropping rows with no values
    df_integrated.dropna(how = 'all', inplace=True)
    
    # Filling the rest of the missing values with 'null'
    df_integrated.mileage_unit = df_integrated.mileage_unit.fillna(value='Kilometer')
    df_integrated = df_integrated.fillna(value='null')
    
    # Returning the result
    return df_integrated

In [14]:
# Saving the Integrated dataframe
df_integrated = Integration(df_normalised)

In [15]:
# Checking the final dimesion of the dataset
df_integrated.shape

(1153, 18)

In [16]:
# Overview of the integrated dataframe
df_integrated.head()

,carType,color,condition,currency,drive,city,country,make,manufacture_year,mileage,mileage_unit,model,model_variant,price_on_request,type,zip,manufacture_month,fuel_consumption_unit
0,Limousine,Other,Occasion,null,null,Zuzwil,null,Mercedes-Benz,1999,31900,Kilometer,E 320,E 320 ElÃ©gance 4-Matic,null,null,null,1,null
1,Coupé,Other,Oldtimer,null,null,Zuzwil,null,Lamborghini,1973,48000,Kilometer,null,Espada GT 400 Serie 3,null,null,null,4,null
2,Coupé,Other,Occasion,null,null,Zuzwil,null,Ferrari,2004,42600,Kilometer,F360,F360 Modena Berlinetta,null,null,null,2,null
3,Cabriolet,Other,Occasion,null,null,Porrentruy,null,Alfa Romeo,2011,23900,Kilometer,8C,8C,null,null,null,4,null
4,Limousine,Other,Occasion,null,null,Zuzwil,null,BMW,1974,97100,Kilometer,2002,2002 Turbo,null,null,null,3,null

In [17]:
# Writing and saving the integrated dataframe into excel
df_integrated.to_excel(r'C:\Users\Saturn\Onedot_task\Final_results\integration.xlsx', index=False)

## 3. Conclusion

Assumptions :  
    a. km in supplier data column is assumed to be mileage in target dataset  
    b. mileage_unit column in target data filled with unit kilometer target dataset  
    c. FirstRegYear column is assumed as manufacture_year in target dataset  
    d. FirstRegMonth column is assumed as manufacture_month in target dataset  
    
Missing information as observed :  
a. country or zip code  
b. price on request if available or not  
c. Fuel consumtion column on target dataset (fuel consumption unit is present)